.gallery{
padding:50px;
text-align:center;
}

.gallery img{
width:300px;
height:200px;
object-fit:cover;
margin:10px;
border-radius:12px;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.05);
}
.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
width:60px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:28px;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
transition:0.3s;
}

.whatsapp:hover{
transform:scale(1.1);
}
